version: "2"

services:
  masterserver:
    build: .
    ports:
      - 28799:28799
      - 28800:28800
    environment:
      - PROXIED_SERVERS=play.redeclipse.net
      #- SENTRY_DSN=my-sentry-dsn
    volumes:
      - masterserver_data:/data

volumes:
  masterserver_data:
